/* Yellow header */
.navs-container {
    background-color: yellow;
}

/* Yellow header hover */
.navs a:hover {
    background-color: gold;
}

/* Yellow top border */
main {
    border: 1px solid goldenrod;
    border-top: 8px solid yellow;
}

/* Light-yellow buttons */
.auth-buttons button {
    background-color: lightyellow;
    border: 1px solid goldenrod;
}

/* Yellow button when hovered */
.auth-buttons button:hover {
    background-color: gold;
}