body{
    margin: 0;
}

main{
    margin: 10px;
} 

.report-cont{
    position: relative;
    width: 100%;
    max-width: 800px;
}

#reports{
    margin-top: 10px;
    position: absolute;
    border: 1px solid black;
    width: 100%;
    max-height: 600px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
}