body{
    margin: 0;   
}
main{
    margin: 10px;    
}

.gridContainer{
    height: 100vh;
    border: none;
    display: grid;
    grid-template-areas: "availableShelters occupiedShelters";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

#availableShelters{
    grid-area: availableShelters;
    border: 1px solid green;
    display: grid;
    grid-template-areas: 
        "availHeader"
        "availReports";
    grid-template-rows: auto 1fr;
    
}
#availHeader{
    grid-area: availHeader;
    border: 1px solid black;
    height: fit-content;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
    background-color: hwb(0 75% 25%);
}
#availReports{
    grid-area: availReports;
    border: 1px solid green;
    background-color: hwb(0 88% 12%);
    
}

/*------------------------------*/

#occupiedShelters{
    grid-area: occupiedShelters;
    border: 1px solid red;
    display: grid;
    grid-template-areas: 
        "occHeader"
        "occReports";
    grid-template-rows: auto 1fr;
    
}
#occHeader{
    grid-area: occHeader;
    border: 1px solid red;
    height: fit-content;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
    background-color: hwb(0 75% 25%);
}
#occReports{
    grid-area: occReports;
    border: 1px solid red;
    background-color: hwb(0 88% 12%);
}