/*
Css made specifically for index.php
Just to organize stuff
*/
body{
    margin: 0;
}

main{
    /*border: 1px solid black;*/
    position: relative;
    max-width: 800px;
    padding: 50px 25px 0px;
    margin: 23px auto;
    
}
.auth-buttons{
    position: absolute;
    display: flex;
    top: 0;
    right: 14px;
    /*border: 1px solid black;*/
    gap: 10px;    
}
.auth-buttons button{
    font-weight: bold;
    font-size: 14px;
    padding: 8px 10px ;
}
.auth-buttons a{
    text-decoration: none;
}